<div class="about-us-container" data-ng-controller="aboutUSController">
    <section class="about-us-top-container">
    	<div class="container-lg">
			<div class="about-us-top-title">
				<h1>How Can We Help You</h1>
				<h2>to make your business grow on the web?</h2>
		    </div>
		</div>
    </section>
    <section class="about-us">
    	<div class="about-us-row-1">
    		<div class="container-lg">
    			<article class="clearfix">
    	    	    <div class="about-us-text">
    	    	        <div>
    	    	    	    <header>
    	    	            	<h6>The SoftGroup approach</h6>
    	    	            </header>
    	    	            <section>
    	    	            	<p>Our approach is to combine our understanding of user behavior with a commitment to meeting the business goals of our clients. We are proactive in our aftercare service and will alert our customers of any malicious behavior that we find. Our staff is diverse and talented in all aspects of website technology and marketing, including content creation. We love what we do and it shows in the solutions we produce.</p>
    	    	            </section>
    	    	        </div>
    	    	    </div>
    	   		    <div class="about-us-img"></div>
    	   		</article>
    	   	</div>
    	</div>  
    	<div class="about-us-row-2">
			<div class="container-lg">
    			<ul class="clearfix">
    				<li>
    					<img src="images/angularJS-logo-white.png">
    				</li>
    				<li>
    					<img src="images/nodeJS-logo-white.png">
    				</li>
    				<li>
    					<img src="images/jQuery-logo-white.png">
    				</li>
    			</ul>
    	   	</div>
    	</div>
    	<div class="about-us-row-3">
    		<div class="container-lg">
    			<article class="clearfix">
    				<div class="about-us-img"></div>
    	    	    <div class="about-us-text">
    	    	    	<div>
    	    	    	    <header>
    	    	            	<h6>Social responsibility</h6>
    	    	            </header>
    	    	            <section>
    	    	            	<p>We are very much aware that this world isn't ideal and that by helping others we can make a difference. We regularly attend humanitarian tournaments, provide gifts for various occasions to the less privileged and donate our knowledge. It is our goal to make a difference in this world by creating bespoke products and giving back. By becoming a part of SoftGroup, you will contribute too.</p>
    	    	            </section>
    	    	        </div>
    	    	    </div>
    	   		</article>
    	   	</div>
    	</div>  	
    </section>
</div>
